.home {
	position: relative; /* Устанавливаем относительное позиционирование */
	background: url('./assets/Simple Shiny2.svg') no-repeat center center / cover;
	width: 100%;
	min-height: 100vh;
	z-index: 0; /* Убедимся, что z-index у .home ниже, чем у других элементов */
	overflow: hidden;
}
.slide-wrapper {
	background-color: #ffc107;
	width: 100%;
	min-height: 100vh;
	z-index: -1;
}

.foto-svg {
	position: absolute;
	bottom: 0; /* Закрепляем SVG внизу контейнера */
	left: 0;
	width: 100%;
	height: auto;
	transform: rotate(180deg);
	z-index: -1; /* Размещаем волну за контентом */
}
.foto-svg-2 {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 1;
}

.content {
	padding: 2rem 0;
	margin-top: -1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

a {
	color: #ffc107;
	text-decoration: none;
	transition: color 0.3s ease;
	margin-right: 1rem;
}

a:hover {
	color: #fff;
}

a:active {
	opacity: 0.4;
}

.main-image-container {
	position: relative;
	display: inline-block;
}

.main-image {
	border-radius: 50% 40% 60% 30% / 30% 90% 40% 60%;
	width: 90%;
	max-width: 90%;
	border: 5px solid rgb(255, 191, 0, 0.5);
	box-shadow: 0 0 20px rgba(255, 197, 25, 0.3);
	position: relative;
	top: 2rem;
}

.main-image_u1 {
	border-radius: 50% 40% 60% 30% / 30% 90% 40% 60%;
	width: 70%;
	max-width: 90%;
	border: 5px solid rgba(0, 0, 0, 0.653);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	position: relative;
	top: 2rem;
}

.main-image-2 {
	border-radius: 50% 40% 60% 30% / 30% 90% 40% 60%;
	max-width: 70%;
	height: 40%;
	border: 5px solid rgb(255, 191, 0, 0.5);
	box-shadow: 0 0 20px rgba(255, 197, 25, 0.3);
	position: relative;
	top: 0;
	overflow: hidden;
}

.main-image-container::before {
	content: '';
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	background: radial-gradient(circle, rgba(255, 153, 0, 0.2) 10%, transparent);
	border-radius: 50%;
	z-index: -1;
	animation: glow 3s infinite alternate;
}

@keyframes glow {
	from {
		transform: rotate(0deg);
		opacity: 0.6;
	}
	to {
		transform: rotate(10deg);
		opacity: 1;
	}
}

.h-1__s3 {
	text-align: center;
	position: relative;
	color: transparent;
	background: linear-gradient(125deg, #1b182a, #ffffff);
	-webkit-background-clip: text;
	background-clip: text;
	z-index: 99;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.737));
}

.h-1__u3 {
	
	position: relative;
	color: transparent;
	background: linear-gradient(105deg, #ffcc00, #ffffff);
	-webkit-background-clip: text;
	background-clip: text;
	z-index: 99;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.737));
}